#custom-map-leaflet  {
  width: 100%;
  height: 100%;
}

#custom-map-leaflet2 {
  width: 100%;
  height: 100%;
  border-radius: 5px !important;
}

.leaflet-draw-edit-edit {
  background: #dedede !important;
  background-image: url("https://cdn-icons-png.flaticon.com/128/738/738880.png") !important;
  background-size: 35px !important;
  background-position: 50% !important;
  background-repeat: no-repeat !important;
  padding: 2px !important;
  width: 40px !important;
  height: 40px !important;
  margin-bottom: 2px !important;
}

.leaflet-draw-edit-edit:hover {
  background: #cccccc !important;
  background-image: url("https://cdn-icons-png.flaticon.com/128/738/738880.png") !important;
  background-size: 35px !important;
  background-position: 50% !important;
  background-repeat: no-repeat !important;
  padding: 2px !important;
  width: 40px !important;
  height: 40px !important;
  margin-bottom: 2px !important;
}

.leaflet-draw-edit-remove {
  background: #dedede !important;
  background-image: url("https://cdn-icons-png.flaticon.com/128/2514/2514330.png") !important;
  background-size: 35px !important;
  background-position: 50% !important;
  background-repeat: no-repeat !important;
  padding: 2px !important;
  width: 40px !important;
  height: 40px !important;
}

.leaflet-draw-edit-remove:hover {
  background: #cccccc !important;
  background-image: url("https://cdn-icons-png.flaticon.com/128/2514/2514330.png") !important;
  background-size: 35px !important;
  background-position: 50% !important;
  background-repeat: no-repeat !important;
  padding: 2px !important;
  width: 40px !important;
  height: 40px !important;
}

/* .leaflet-marker-icon .leaflet-zoom-animated .leaflet-interactive{
  background-image: url("https://unpkg.com/leaflet@1.5.1/dist/images/marker-icon.png") !important;
} */

.leaflet-popup-content-wrapper, .leaflet-popup-tip{
  background: #334154e0 !important;
  color: #ffffff !important;
}
.leaflet-popup-close-button{
  color: #ffffff !important;
}

.leaflet-popup-content{
  margin: 17px 10px 10px 10px !important;
}


.location-pin {
  position: relative;
  min-width: 60px !important;
  height: 60px !important;
  display: grid;
  align-items: center;
  justify-content: center;
}
.txt {
  min-width: 100%;
  padding: 3px 7px;
  border-radius: 15px;
  position: absolute;
  left: -3px;
  transform: translate(-50%, -50%);
  top: 10px;
  z-index: 10;
  color: #fff;
  animation-name: bounce-only;
  animation-fill-mode: both;
  animation-duration: 1s;
  text-align: center;
  white-space: nowrap;
}

.location-pin img {
  width: 40px !important;
  height: 50px !important;
  z-index: 10;
  position: absolute;
  left: 10px;
  border-radius: 50%;
  animation-name: bounce-only;
  animation-fill-mode: both;
  animation-duration: 1s;
}

.pulse:after {
  content: "";
  border-radius: 50%;
  height: 20px;
  width: 50px;
  position: absolute;
  bottom: 0;
  left: 5px;
  animation: pulsate 2.5s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  background: rgba(94,190,255,0.5);
  box-shadow: 0 0 1px 2px #2d99d3;
  animation-delay: 1.1s;
}
.leaflet-bottom {
  display: none;
}


@-moz-keyframes pulsate {
  0% {
      transform: scale(0.1, 0.1);
      opacity: 0;
 }
  50% {
      opacity: 1;
 }
  100% {
      transform: scale(1.2, 1.2);
      opacity: 0;
 }
}
@-webkit-keyframes pulsate {
  0% {
      transform: scale(0.1, 0.1);
      opacity: 0;
 }
  50% {
      opacity: 1;
 }
  100% {
      transform: scale(1.2, 1.2);
      opacity: 0;
 }
}
@-o-keyframes pulsate {
  0% {
      transform: scale(0.1, 0.1);
      opacity: 0;
 }
  50% {
      opacity: 1;
 }
  100% {
      transform: scale(1.2, 1.2);
      opacity: 0;
 }
}
@keyframes pulsate {
  0% {
      transform: scale(0.1, 0.1);
      opacity: 0;
 }
  50% {
      opacity: 1;
 }
  100% {
      transform: scale(1.2, 1.2);
      opacity: 0;
 }
}

@-moz-keyframes bounce {
  0% {
      opacity: 0;
      transform: translateY(-2000px) rotate(-45deg);
 }
  60% {
      opacity: 1;
      transform: translateY(30px) rotate(-45deg);
 }
  80% {
      transform: translateY(-10px) rotate(-45deg);
 }
  100% {
      transform: translateY(0) rotate(-45deg);
 }
}
@-webkit-keyframes bounce {
  0% {
      opacity: 0;
      transform: translateY(-2000px) rotate(-45deg);
 }
  60% {
      opacity: 1;
      transform: translateY(30px) rotate(-45deg);
 }
  80% {
      transform: translateY(-10px) rotate(-45deg);
 }
  100% {
      transform: translateY(0) rotate(-45deg);
 }
}
@-o-keyframes bounce {
  0% {
      opacity: 0;
      transform: translateY(-2000px) rotate(-45deg);
 }
  60% {
      opacity: 1;
      transform: translateY(30px) rotate(-45deg);
 }
  80% {
      transform: translateY(-10px) rotate(-45deg);
 }
  100% {
      transform: translateY(0) rotate(-45deg);
 }
}
@keyframes bounce {
  0% {
      opacity: 0;
      transform: translateY(-2000px) rotate(-45deg);
 }
  60% {
      opacity: 1;
      transform: translateY(30px) rotate(-45deg);
 }
  80% {
      transform: translateY(-10px) rotate(-45deg);
 }
  100% {
      transform: translateY(0) rotate(-45deg);
 }
}
@-moz-keyframes bounce-only {
  0% {
      opacity: 0;
      transform: translateY(-2000px) rotate(-45deg);
 }
  60% {
      opacity: 1;
      transform: translateY(30px) rotate(-45deg);
 }
  80% {
      transform: translateY(-10px) rotate(-10deg);
 }
  100% {
      transform: translateY(0) rotate(0deg);
 }
}
@-webkit-keyframes bounce-only {
  0% {
      opacity: 0;
      transform: translateY(-2000px) rotate(-45deg);
 }
  60% {
      opacity: 1;
      transform: translateY(30px) rotate(-45deg);
 }
  80% {
      transform: translateY(-10px) rotate(-10deg);
 }
  100% {
      transform: translateY(0) rotate(0deg);
 }
}
@-o-keyframes bounce-only {
  0% {
      opacity: 0;
      transform: translateY(-2000px) rotate(-45deg);
 }
  60% {
      opacity: 1;
      transform: translateY(30px) rotate(-45deg);
 }
  80% {
      transform: translateY(-10px) rotate(-10deg);
 }
  100% {
      transform: translateY(0) rotate(0deg);
 }
}
@keyframes bounce-only {
  0% {
      opacity: 0;
      transform: translateY(-2000px) rotate(-45deg);
 }
  60% {
      opacity: 1;
      transform: translateY(30px) rotate(-45deg);
 }
  80% {
      transform: translateY(-10px) rotate(-10deg);
 }
  100% {
      transform: translateY(0) rotate(0deg);
 }
}

